@media screen and (min-width:769px) and (max-width:1024px) {
    /* ------------------------------------STYLING NAVBAR AND SECTION 1----------------------------------    */
.cleonhr {
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(236, 69, 149, 1) 46%,
      rgba(184, 108, 146, 1) 100%
    );
  }
  .navbar {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo {
    width: 15%;
    padding: 34px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    text-align: center;
  }
  .logo img{
    width: 100%;
  }
  .advisory {
    width: 15%;
    font-size: 14px;
    border: 1px solid #ec4595;
    border-radius: 40px;
    padding: 10px;
    color: whitesmoke;
    box-shadow: 0px 2px 3px 3px #db297f;
    cursor: pointer;
  }
  .advisory img {
    width: 10%;
    margin-top: 2px;
  }
  .advisory span {
    margin-left: 10px;
    font-size: 16px;
    padding-bottom: 12px;
  }
  #click, .cross-btn{
    display: none;
  }
  nav .menu-btn i{
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  .menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
  .menu a {
    font-weight:600;
    color: white;
    padding: 8px 5px;
  }
  .login-button button {
    background-color: #e42b86;
    padding: 10px 30px;
    border-radius: 26px;
    color: whitesmoke;
    font-weight: 900;
    cursor: pointer;
    border: none;
  }
  .login-button button:hover {
    background-color: white;
    color: #ec4595;
    box-shadow: 0px 0px 0px 2px #ec4595;
    transition: all 0.3s ease;
  }
  .menu a:hover {
    border-radius: 4px;
    background-color: white;
    color: #ec4595;
  }
  
  /* ---------------------------------------SCROLLBAR -------------------------------------------- */
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ec4595;
    background-color: #cccccc;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background-color: #ec4595;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fff;
    background-image: -webkit-linear-gradient(
      90deg,
      #ec4595 0%,
      #ec4595 25%,
      transparent 100%,
      #ec4595 75%,
      transparent
    );
  }
  
  /* ------------------------------------STYLING MAIN SECTION ----------------------------------    */
  
  .main-flex {
    margin-top: 5%;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .main-img {
    width: 50%;
    margin: auto;
    margin-left: 100px;
  }
  .main-img img {
    width: 100%;
  }
  .login-page {
    width: 70%;
    padding: 0px 40px;
  }
  .login-form {
    background-color: white;
    border-radius: 40px;
    float: right;
    padding: 80px 30px;
    width: 70%;
  }
  .login-form h4 {
    margin-bottom: 20px;
  }
  .login-form input {
    width: 100%;
    margin: 10px 0px;
    padding: 13px 5px;
    border-radius: 8px;
    border: 1px solid gray;
  }
  .login-form input:hover {
    border: 1px solid #ec4595;
    box-shadow: 0px 0px 0px 2px #ec4595;
  }
  .login-form input:focus {
    /* border: none;   */
    outline: 2px solid #ec4595;
  }
  .reset-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .reset-button {
    width: 50%;
    margin-top: -20px;
  }
  .login-here {
    width: 50%;
    font-size: 11px;
    margin-bottom: 60px;
    margin-top: -25px;
    padding-left: 10px;
  }
  .reset-button a {
    color: white;
    padding: 10px 25px;
    background-color: #ec4595;
    border-radius: 15px;
    font-size: 15px;
  }
  .fa-arrow-right {
    margin-left: 25px;
  }
  .login-here a {
    color: #ec4595;
  }
  .reset-button a:hover {
    color: #ec4595;
    background-color: white;
    box-shadow: 0px 0px 0px 2px #ec4595;
    transition: all 0.3s ease 0s;
  }
  
  /* -----------------------------------------STYLING PROFILE SECTION---------------------------------  */
  
  .profile {
    margin-top: -30px;
    width: 60%;
    background-color: white;
    display: flex;
    border-top-right-radius: 120px;
  }
  .pf-pic {
    width: 30%;
    padding: 40px 5px;
  }
  .pf-pic img {
    display: block;
    margin: auto;
    width: 50%;
  }
  .review {
    margin: auto;
    padding: 40px 5px;
    width: 100%;
    font-size: small;
  }
  .review p {
    width: 95%;
    margin-top: 10px;
    font-size: small;
  }
}